/*
*
* CONST
*
*/

body{
    margin: 0;
    top: 0;
    left: 0;

    display: flex;

    font-family: 'Quicksand', sans-serif;
    background-color: #F7F7F7;
    
    font-size: 150%;
}

nav{
    background-color: #6B6969;
    height: 100vh;
    width: 10vw;

    /*overflow: hidden;*/

    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    margin-top: 5vh;
    margin-bottom: 5vh;

    font-size: 90%;
    color: #F7F7F7;
}

nav ul li:hover{
    font-weight: bold;
    cursor: pointer;
}


section{
    height: 100vh;
    width: 90vw;

    overflow: hidden;
}


/*
*
* HOME
*
*/

.home{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home header{
    font-size: 300%;
    font-weight: bold;
}

.home .subtitle a{
    font-size: 150%;
    font-style: italic;

    display: flex;
    align-items: center;

    color: black;
    text-decoration: none;
}

.home .gitLogo{
    width: 4vh;
    height: 4vh;
}

/*
*
* ABOUT
*
*/

.about{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.about .subArticle{
    overflow-y: scroll;
    width: 40%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about .subArticle::-webkit-scrollbar{
    display: none;
}

.about .categoryTitle{
    font-weight: bold;
}

.about .type{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about .type .title{
    margin-top: 4%;
    border-top: 1px solid black;
}

.about .bars{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 60%;
    height: 100;
}

.about .bar{
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about .limits{
    width: 200px;
    height: 10px;
    background-color: #e0e0e0;
}

.languageBar{
    height: 100%;
    background-color: blue;
}

#javascript{
    width: 80%;
}

#php{
    width: 85%;
}

#sql{
    width: 75%;
}

#java{
    width: 70%;
}

#html{
    width: 95%;
}

#css{
    width: 70%;
}

#jquery{
    width: 80%;
}

#mcd{
    width: 80%;
}

#node{
    width: 60%;
}

#c{
    width: 40%;
}

#phpmyadmin{
    width: 90%;
}

#vsc{
    width: 89%;
}

#jmerise{
    width: 70%;
}

#intellij{
    width: 70%;
}

#eclipse{
    width: 50%;
}

/*
*
* PROJECTS
*
*/

.projects{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.projectBar{
    height: 40%;

    display: flex;
    align-items: center;
}

.project{
    height: 100%;
    width: 20vw;
    overflow: hidden;
    display: flex;

    margin-right: 5%;

    background-color: #6B6969;
}

.project:hover{
    cursor: pointer;
}

.preview{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.preview .head{
    height: 30%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    border-bottom: 1px solid #F7F7F7;
}

#p1 .preview .head, #p2 .preview .head{
    background-image: url("https://adiss-gc.fr/wp-content/uploads/2020/07/Logo-ADISS.png");
}

#p3 .preview .head{
    background-image: url("https://assets-global.website-files.com/6257adef93867e50d84d30e2/636e0b5493894cf60b300587_full_logo_white_RGB.svg");
}

#p4 .preview .head{
   background-image: url("https://static.wikia.nocookie.net/minecraft_gamepedia/images/8/85/Minecraft_franchise_logo.svg/revision/latest?cb=20210922045938");
}

.preview .head .type{
    background-color: rgba(50, 50, 50, 0.5);
    color: white;

    display: flex;
    justify-content: center;
}

.preview .body{
    color: #F7F7F7;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.preview .description{
    height: 70%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.preview .description a{
    color: #F7F7F7;
}

.fullview{
    color: #F7F7F7;
    width: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.fullview .notes{
    height: 70%;
    overflow-y: auto;
}

.fullview .pictures{
    height: 30%;
    overflow-y: auto;
}


/*
*
* CONTACT
*
*/

.logos{
    width: 2vh;
    height: 2vh;
}

#twitterLogo{
    fill:#1D9BF0;
}

.contact{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact a{
    text-decoration: none;
    color: black;
}

.contact div{
    padding: 2%;
}