/*
*
* CONST
*
*/

body{
    margin: 0;
    top: 0;
    left: 0;

    display: flex;

    font-family: 'Quicksand', sans-serif;
    background-color: #F7F7F7;
    
    font-size: 150%;
}

nav{
    background-color: #6B6969;
    height: 100vh;
    width: 10vw;

    /*overflow: hidden;*/

    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    margin-top: 5vh;
    margin-bottom: 5vh;

    font-size: 90%;
    color: #F7F7F7;
}

nav ul li:hover{
    font-weight: bold;
    cursor: pointer;
}


section{
    height: 100vh;
    width: 90vw;

    overflow: hidden;
}


/*
*
* HOME
*
*/

.home{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home header{
    font-size: 300%;
    font-weight: bold;
}

.home .subtitle a{
    font-size: 150%;
    font-style: italic;

    display: flex;
    align-items: center;

    color: black;
    text-decoration: none;
}

.home .gitLogo{
    width: 4vh;
    height: 4vh;
}

/*
*
* ABOUT
*
*/

.about{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.about .subArticle{
    overflow-y: scroll;
    width: 40%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about .subArticle::-webkit-scrollbar{
    display: none;
}

.about .categoryTitle{
    font-weight: bold;
}

.about .categorySubtitle{
    font-style: italic;
    font-size: 80%;
    border-bottom: 1px solid #6B6969;
    padding-bottom: 1%;
    margin-bottom: 1%;
}

.about .bars{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100;
}

.about .bar{
    width: 50%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.about .limits{
    width: 200px;
    height: 10px;
    background-color: #e0e0e0;
}

.about .language{
    margin-right: 10%;
}

.languageBar{
    height: 100%;
    background-color: blue;
}

#javascript{
    width: 80%;
}

#php{
    width: 85%;
}

#sql{
    width: 75%;
}

#java{
    width: 70%;
}

#html{
    width: 95%;
}

#css{
    width: 70%;
}

/*
*
* PROJECTS
*
*/

.projects{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.projectBar{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    overflow-x: auto;
}

.project{
    margin-left: 5%;
    margin-right: 5%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.project:hover{
    cursor: pointer;
}

.preview{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #cfcfcf;
    padding: 20px;
}

.preview:hover .title{
    font-weight: bold;
}

.view{
    transform: scale(0);
    height: 0;
    width: 50vw;

    position: absolute;
    top: 25vh;
    left: 25vw;

    padding: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*
*
* CONTACT
*
*/

.logos{
    width: 2vh;
    height: 2vh;
}

#twitterLogo{
    fill:#1D9BF0;
}

.contact{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact a{
    text-decoration: none;
    color: black;
}

.contact div{
    padding: 2%;
}